@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#root {
  margin: 0 ;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}


        /* THIS IS IMPORTED TO THE COURSES PAGE */
.bg-img{
  background-image: url('../src/assets/courses\ Images/Hero.png');
}
body{
  font-family: Montserrat;
}