

@font-face{
  font-family: Montserrat;
  src:url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap.woff2") format('woff2');
} 


#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

/* THIS IS EXPORTED TO THE PREMIUM COURSES PAGE */
.bg-img {
  background-image: url("../src/assets/courses\ Images/Rectangle1.png");
}

/* THIS EXPORTED TO FREE COURSES */
.free-bg {
  background-image: url("../src/assets/courses\ Images/Rectangle2.png");
}

/* THIS IS EXPORTED TO THE CART DETAILS COMPONENT */
.cart-bg {
  background-image: url("../src/assets/Images/cartBG.png");
}

body {
  font-family: 'Montserrat', Montserrat;
}
