@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url(../src/assets/homepageImages/main.png);
}
.bg {
  background-image: url(../src//assets/homepageImages/bg.png);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shawdow {
 box-shadow:  5px 5px 4px 5px rgb(240, 240, 243)
}

@media only screen and (min-width: 258px) {
  .btnCreator {
    margin-left: 15px;
  
  }
  
}
@media only screen and (max-width: 850px) {
  .bigText {
    font-size: 50px;
  }
  .midFont {
    font-size: 28px;
  }
}

@media only screen and (max-width: 500px) {
  .bigText {
    font-size: 35px;
  }
  .midFont {
    font-size: 24px;
  }
}

@media only screen and (max-width: 400) {
  .bigText {
    font-size: 30px 0px;
  }
  .midFont {
    font-size: 22px;
  }
}
@media only screen and (max-width: 350px) {
  .bigText {
    font-size: 25px;
  }
  .icon {
    visibility: hidden;
  }
  .bigFont {
    font-size: 16px;
  }
  .midFont {
    font-size: 20px;
  }
}

@media only screen and (max-width: 300px) {
  .bigText {
    font-size: 28px;
  }
  .bigFont {
    font-size: 14px;
  }
  .midFont {
    font-size: 18px;
  }
}
